@model IEnumerable<WebAppShop.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Customers</h2>
<p>
    @Html.ActionLink("Nowy użytkownik", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
@* Jezeli pojawia sie problemy z Model.Any() to zmodyfikowac Web.config *@
@if (!Model.Any())
{
    <p>Brak użytkowników</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Użytkownik</th>
                <th>Rodzaj członkostwa</th>
                <th>Zniżka</th>
                <th>Edycja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    @* Model, Nazwa Akcji, Nazwa Kontrolera *@
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>
                        <button data-customer-id="@customer.Id" type="button" class="btn btn-link js-delete">Usuń</button>
                    </td>
                    @*<td>@Html.ActionLink("Usuń", "Remove", "Customers", new { id = customer.Id }, new { @class = "btn btn-primary" })</td>*@
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable();
            
            //customers - selektor, js-delete - filtr
            $("#customers").on("click", ".js-delete", function () {
            //$("#customers .js-delete").on("click", function () {
                var button = $(this);

                bootbox.confirm("Czy na pewno chcesz usunąć tego użykownika?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                //console.log("Sukces");
                            }
                        });
                    }
                });
                //if (confirm("Czy na pewno chcesz usunąć tego użytkownika?")) {
                //}
            });
        });
    </script>
}